anaconda
cfunits
coverage
coveralls
cython
Deprecated
elasticsearch
epics-base
fabio
h5py
icalendar
nexpy
pandoc
PyGitHub
PyJWT
PyMCA
PyQT
pyqtgraph
pyRestTable
pytest
pytest-html
pytest-metadata
Qt
silx
sparse 
spec2nexus
sphinx
sphinx_rtd_theme
tqdm
wxpython
