apspy
assign-gup
bcdamenu
bcdaqwidgets
blnuhr
cf-units
cphcttoolbox
hdf5plugin
https://raw.githubusercontent.com/EPICS-synApps/utils/master/mdaPythonUtils/mdalib-2013.post2-py2.py3-none-any.whl
http://ftp.esrf.fr/pub/scisoft/PyNX/pynx-2018.2.0.tar.bz2
lmfit
parsl
peakutils
punx
pvmail
pvwebmonitor
pygithub
pyimm
pymsql
pyepics
pyimm
pyspec
python-dtxrd
python-hdf4
pyusb
pyvisa-py
rst2pdf
xrayutilities
