anaconda
anaconda-client
anaconda-navigator
anaconda-project
ansi2html
argcomplete
atom
binutils_impl_linux-64
binutils_linux-64
blas
blaze
bleach
boost
cfunits
chaco
colorama
configparser
coverage
coveralls
cubes
cython
dask
Deprecated
dxchange
elasticsearch
entrypoints
epics-base
fabio
fftw
flask
future
futures
gcc-5
gcc-5-mp
gcc_impl_linux-64
gcc_linux-64
gdma
glib
glob2
h5py
hdf4
hdf5
icalendar
ipython
jinja2
jpeg
jupyter
jupyter_client
jupyter_console
lxml
matplotlib
mkl
mkl-service
mysql-python
networkx
nexpy
nexusformat
nose
notebook
numba
openblas
opencv
openmpi
pandas
pandoc
pango
paramiko
pcre
pep8
pillow
psutil
pyfftw
PyGitHub
PyJWT
pylint
PyMCA
pyopengl
PyQT=4
pyqtgraph
pyRestTable
pyserial
pyside=1.2
pytables
pytest
pytest-html
pytest-metadata
python=2.7
pytz
pyvisa
pywavelets
pyyaml
pyzmq
qimage2ndarray
Qt=4
qtpy
readline
reportlab
requests
scikit-image
scikit-learn
scipy
seaborn
shiboken
silx
six
sparse 
spec2nexus
sphinx
sphinx_rtd_theme
spyder
sqlalchemy
sqlite
statsmmodels
suds-jurko
swig
sympy
tk
tomopy
tqdm
traitsui
udunits2
wcwidth
wxpython
widgetsnbextension
wrapt
wxpython
xarray
xlrd
xlsxwriter
xlwt
zeromq
zict
